<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books to Hunt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    
    <section class="navbar-section">
        <header>
            <nav>
                <ul class="navbar">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('offers_page') }}">Offers</a></li>
                    <li><a href="#categories" class="categories-btn">Categories</a></li>
                  
                    <div class="navbar-right">
                        <li><a href="{{ url_for('cart') }}">Cart</a></li>
                        <li><a href="{{ url_for('login') }}">Register</a></li>
                    </div>
                </ul>
            </nav>
        </header>
    </section>

    <!-- Page Content -->
    <div class="main-title">
        <h1>Books to Hunt</h1>
    </div>

    {% block content %}{% endblock %}

</body>
</html>
