{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="cart-items">
            {% if cart %}
                {% for book_id, item in cart.items() %}
                    <div class="cart-item">
                        <h3>{{ item.title }}</h3>
                        <p>Price: ₹{{ item.price }}</p>
                        <p>Quantity: {{ item.quantity }}</p>
                        <p>Total: ₹{{ item.quantity * item.price|replace('₹','')|float }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>Your cart is empty.</p>
            {% endif %}
        </div>

        <!-- Delivery charge -->
        <div class="delivery-charge">
            <p>Delivery Charges: ₹100</p>
        </div>

        <!-- Update total price with delivery charge -->
        <h3>Total Price (Including Delivery Charges): ₹{{ total_price + 100 }}</h3>

        <a href="#" class="btn">Pay Now</a>
    </div>
{% endblock %}
